<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://codefirstexampleaf20240417102127.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5dec6a2f-6c61-491a-9a04-1a5e58e3b4db/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/CodeFirstExampleAF20240417102127</ResourceId>
    <UserName>$CodeFirstExampleAF20240417102127</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://codefirstexampleaf20240417102127.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>